In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("./heart.csv")
df.shape

(303, 14)

In [2]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
# find out which columns are boolean, and do an auto-convertion
bool_cols = [col for col in df if df[col].dropna().value_counts().index.isin([0,1]).all()]
print("Boolean Features: ", bool_cols)

for col in bool_cols:
    df[col] = df[col].astype('bool')

Boolean Features:  ['sex', 'fbs', 'exang', 'target']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null bool
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null bool
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null bool
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null bool
dtypes: bool(4), float64(1), int64(9)
memory usage: 24.9 KB

In [6]:
df.describe()

,age,cp,trestbps,chol,restecg,thalach,oldpeak,slope,ca,thal
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.966997,131.623762,246.264026,0.528053,149.646865,1.039604,1.399340,0.729373,2.313531
std,9.082101,1.032052,17.538143,51.830751,0.525860,22.905161,1.161075,0.616226,1.022606,0.612277
min,29.000000,0.000000,94.000000,126.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,120.000000,211.000000,0.000000,133.500000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,130.000000,240.000000,1.000000,153.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,2.000000,140.000000,274.500000,1.000000,166.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,3.000000,200.000000,564.000000,2.000000,202.000000,6.200000,2.000000,4.000000,3.000000

In [13]:
# and display it
%matplotlib inline
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'svg' 

# Setting seaborn default for plots
import seaborn as sns
sns.set() 

# plt.figure(figsize=(8,2))
# sns.pairplot(df['Age'])

In [20]:
col_numeric = [col for col in df if not df[col].dropna().value_counts().index.isin([0,1]).all()]
sns.pairplot(df[col_numeric],figsize=(2,3))

TypeError: pairplot() got an unexpected keyword argument 'figsize'